.footer
{
    overflow: hidden;
    position: sticky;
    top: 100%;
    background-color:rgb(208, 217, 222);
    padding: 20px 10px;
}

h1 
{
    font-weight: bold;
    color: rgb(5, 3, 3);
    font-size: 20px;
    padding-left: 20px;
}
p 
{
    color: rgb(15, 5, 5);
    font-size: 15px;
    padding-left: 20px;
}
a 
{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0px 10px;
    font-size: 17px;
}
a:hover 
{
    color: var(--primary-color);
}
i 
{
    padding: 0px 10px;
}