<div class="body"></div>
		<div class="grad"></div>
		<div class="header">
		</div>

		<div class="login">
				
		<form>
 		<input type="text" name="first" placeholder="First name"><br>
 		<input type="text" name="last" placeholder="Last name"><br>
 		<input type="text" name="username" placeholder="Username"><br>
 		<input type="text" name="email" placeholder="E-mail"><br>
 		<input type="password" name="pwd" placeholder="Password"><br>
 		<input type="password" name="pwd-repeat" placeholder="Confirm Password"><br>
 		<button type="submit" name="signup-submit">Register</button>

	</form>
</div>



